html{
  font-family: 'Lato', sans-serif;
}
/*entete*/
body{
  height: 100%;
  background-color: #0067A3;
}
.header{
  color: #f3f3f3;
  overflow: hidden;
  padding: 5px;
  z-index: 10;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
/*onglet tableau*/
.header-btn-text{
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
  float: left;
  border-radius: 3px;
  height: 25px;
  width: 160px;
  text-align: center;
  position: relative;
  float: left;
  color: #f3f3f3;
  padding-top: 5px;
}
.header-btn-text:hover{
  cursor: pointer;
  background: linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,.2) 100%)
}
