html{
  font-family: 'Lato', sans-serif;
}
/*entete*/
body{
  height: 100%;
  background-color: #0067A3;
}
.header{
  color: #f3f3f3;
  overflow: hidden;
  padding: 5px;
  z-index: 10;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
/*onglet tableau*/
.header-btn-text{
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
  float: left;
  border-radius: 3px;
  height: 25px;
  width: 160px;
  text-align: center;
  position: relative;
  float: left;
  color: #f3f3f3;
  padding-top: 5px;
}
.header-btn-text:hover{
  cursor: pointer;
  background: linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,.2) 100%)
}
/*mise en place du logo*/
.header-logo{
  margin-left: 50%;
}
.header-logo-default{
  height: 30px;
}
/*mise en place de la barre de recherche*/
.header-search{
  float: left;
  margin: 0 8px 0 32px;
  position: relative;
  z-index: 1;
  height: 30px;
  width: 180px;
}
.header-search img{
  margin-left: 150px
}
input{
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
  border-radius: 3px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding-left: 5px;
  color: #f3f3f3;
  font-family: 'Lato';
  font-size: 15px
}
input:hover{
  background: linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,.2) 100%);
}
/*barre nominative*/
.member-initials{
  color: #f3f3f3;
  text-decoration: none;
  float: left;
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
  height: 25px;
  border-right: 1px solid #f3f3f3;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-top: 5px;
}
.header-user{
  position:absolute;
  right:12px;
  top: 13px
}
/*header content */
.board-header-btn{
  height: 25px;
  width: 100px;
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
  text-align: center;
  color: #f3f3f3;
  padding-top: 5px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  left: 5px;
  top: 90px
}
